<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= image_tag @moviepost.movieimage %>
</p>

<p>
  <strong>Title:</strong>
  <%= @moviepost.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @moviepost.content %>
</p>

<%= link_to 'Edit', edit_moviepost_path(@moviepost) %> |
<%= link_to 'Back', movieposts_path %>
