<!-- main slider movies -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide first">
						<div class="movie_wrapper">
							<dt>오늘의 리뷰영화</dt>
							<div class="movie-desc">
								<dd>인사이드 아웃</dd>
								<dd>
								“괜찮아, 다 잘 될 거야! 우리가 행복하게 만들어 줄게” 모든 사람의 머릿속에 존재하는 감정 컨트롤 본부 그곳에서 불철주야 열심히 일하는 기쁨, 슬픔, 버럭, 까칠, 소심 다섯 감정들. 이사 후 새로운 환경에 적응해야 하는 ‘라일리’를 위해 그 어느 때 보다 바쁘게 감정의 신호를 보내지만 우연한 실수로 ‘기쁨’과 ‘슬픔’이 본부를 이탈하게 되자 '라일리’의 마음 속에 큰 변화가 찾아온다. 라일리가 예전의 모습을 되찾기 위해서는‘기쁨’과 ‘슬픔’이 본부로 돌아가야만 한다! 그러나 엄청난 기억들이 저장되어 있는 머릿속 세계에서 본부까지 가는 길은 험난하기만 한데… 과연, ‘라일리’는 다시 행복해질 수 있을까? 지금 당신의 머릿속에서 벌어지는 놀라운 일! 하루에도 몇번씩 변하는 감정의 비밀이 밝혀진다! 씨네21
								</dd>
							</div>
						</div>
					</div>
					<div class="swiper-slide second">
						<div class="movie_wrapper">
							<dt>오늘의 리뷰영화</dt>
							<div class="movie-desc">
								<dd>월 E</dd>
								<dd>
								텅 빈 지구에 홀로 남아 수백 년이란 시간을 외롭게 일만 하며 보내던 월-E (WALL-E: Waste Allocation Load Lifter Earth-Class, 지구 폐기물 수거-처리용 로봇). 그런 그가 매력적인 탐사 로봇 ‘이브’와 마주친 순간, 잡동사니 수집만이 낙이던 인생에도 소중한 목표가 생긴다. 이브는 지구의 미래를 결정할 열쇠가 우연히 월-E의 손에 들어간 사실을 알게 되고, 고향별로 돌아갈 날만 애타게 기다리는 인간들에게 이를 보고하기 위해 서둘러 우주로 향한다. 한편 월-E는 이브를 뒤쫓아 은하를 가로지르며, 스크린 사상 가장 짜릿한 상상이 넘치는 어드벤처를 선사한다. 이제껏 꿈에서도 볼 수 없었던 미래 세계를 배경으로 우주에서 펼쳐지는 월-E의 환상적인 모험! 애완용 바퀴벌레, 용맹스럽지만 어딘가 나사가 빠진 듯한 사회 부적응 로봇 군단 등 일련의 유쾌한 캐릭터들이 여기에 동참한다.
								</dd>
							</div>
						</div>
					</div>
					<div class="swiper-slide third">
						<div class="movie_wrapper">
							<dt>오늘의 리뷰영화</dt>
							<div class="movie-desc">
								<dd>업</dd>
								<dd>
								한방울 눈물과 한바탕 웃음! 마음 속에 담고 싶은 단 하나의 걸작
								평생 모험을 꿈꿔 왔던 ‘칼’ 할아버지는 수천 개의 풍선을 매달아 집을 통째로 남아메리카로 날려 버리는데, ‘칼’ 할아버지의 이 위대한 모험에 초대 받지 않은 불청객이 있었으니, 바로 황야의 탐험가 ‘러셀’! 지구상에 둘도 없을 이 어색한 커플이 함께 하는 대모험. 그들은 과연 남미의 잃어버린 세계에서 사라져 버린 꿈과 희망, 행복을 다시 찾을 수 있을까?
								</dd>
							</div>
						</div>
					</div>
					<div class="swiper-slide fourth">
						<div class="movie_wrapper">
							<dt>오늘의 리뷰영화</dt>
							<div class="movie-desc">
								<dd>인크레더블</dd>
								<dd>
								다시 한번 세계를 놀라게 할 시간이 왔다 | <니모를 찾아서> 제작진의 슈퍼 액션 어드벤처
								보이지 않는 곳에서 악의 무리들을 일망타진하는 세계 최강의 슈퍼히어로 "미스터 인크레더블" 그러나 은퇴한지 벌써 15년! 전성기 때 ‘몸짱’에서 ‘몸꽝’이 되어버린 그의 불룩 나온 배는 이제 초강력 허리띠조차 튕겨 내버린다. 그런 그에게 정체불명의 특명이 떨어진다. 출동할 곳은 본토와 아득히 떨어진 섬, 특명을 내린 사람을 알 수 없는 1급 비밀작전. 평범한 시민 "미스터 인크레더블"은 다시 빛나는 영웅으로 복귀 할 수 있을 것인가.
								</dd>
							</div>
						</div>
					</div>
					<div class="swiper-slide fifth">
						<div class="movie_wrapper">
							<dt>오늘의 리뷰영화</dt>
							<div class="movie-desc">
								<dd>토이스토리 3</dd>
								<dd>
								전세계가 감동한 가장 위대한 탈출 | 이별은 없어! 우리는 반드시 함께 돌아가야 해!
								모든 장난감들이 겪는 가장 슬픈일은 바로 주인이 성장해 더이상 자신들과 놀아주지 않는 것. 우디와 버즈에게도 그 위기가 찾아온다. 앤디가 대학에 진학, 집을 떠나게 된 것. 헤어짐의 불안에 떨던 토이들은 앤디 엄마의 실수로 집을 나오게 된 이들은 우여곡절 끝에 탁아소에 기증되는 신세가 된다! 
								그런데 오마이갓, 어린이집 애들 장난이 아니게 난폭하고 험하다. 그리고 상상도 못했던 거대한 음모까지 숨겨져 있는 어린이집 장난감의 세계. 그러다 앤디가 여전히 자신들을 사랑한다는 사실을 알게 된 토이 군단은 앤디 곁으로 돌아가기 위해 생애 가장 큰 모험을 결심한다. 우디를 중심으로 똘똘뭉친 토이들 과연 이들의 위대한 탈출은 성공할 것인가!
								</dd>
							</div>
						</div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

<div class="recommend-wrapper">
	<ul class="sections-wrapper">
		<li id="boxoffice-section">
			<h3> Box Office </h3>	
			<div class="swiper-container2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						Slide 1
					</div>
					<div class="swiper-slide">
						slide 2
					</div>
					<div class="swiper-slide">
						slide 3
					</div>
					<div class="swiper-slide">
						현재 상영 순위 <br><br>
						<% for i in 0..9 %>
							<%= i+1%>.
							<%= @ranks[i] %><br>
						<% end %>
					</div>
					<div class="swiper-slide">
					</div>
						<% for s in 0..9%>
					<div class="swiper-slide">
						<img src="<%= @movies[s] %>">
						<h3><%= @alt_tags[s] %></h3>
					</div>
				<% end %>
					<!--
					<div class="swiper-slide">
					</div>
					<div class="swiper-slide">
						slide7
					</div>
					<div class="swiper-slide">
						slide8
					</div>
					<div class="swiper-slide">
						<img src="<%= @movies %>">
					</div>
					<div class="swiper-slide">
						<img src="<%= @movies %>">
					</div>
					<div class="swiper-slide">
						<img src="<%= @movies %>">
					</div>
					<div class="swiper-slide">
						<img src="<%= @movies %>">
					</div>
					-->
				</div>
			</div>
		</li>

		<li>
			<h3>나만 아는 숨겨진 명작 </h3>	
			<div class="swiper-container2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						slide1
					</div>
					<div class="swiper-slide">
						slide2
					</div>
					<div class="swiper-slide">
						slide3
					</div>
					<div class="swiper-slide">
						slide4
					</div>
					<div class="swiper-slide">
						slide5
					</div>
					<div class="swiper-slide">
						slide6
					</div>
					<div class="swiper-slide">
						slide7
					</div>
					<div class="swiper-slide">
						slide8
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<br><br>

<br>


<%# @movies.each do |x| %>
	<%# x %>
<%# end %>
